::ng-deep.content-wrap {
    &.login-container {
        width: 600px;
        max-width: calc(100vw - 2rem);

        .form-container{
            .badge {
                display: none;
            }

            
        }
        .form-footer{
            .btn-submit-form{
                flex: 1;
            }
        }   
        
    }
}
