<header id="header" class="header">

    <div class="header-container " >
        <div class="item-left">
            
        </div>

        <div class="item-center">
            <nav aria-label="breadcrumb" class="itm-container justify-content-center">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/form-list">Gestione form</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/utenti">Gestione Utenti</a>
                    </li>
                    <!-- <li class="relative ml-5 pl-0.5 before:content-[''] before:w-[14px] before:h-[14px] before:bg-chevron-white before:transform before:rotate-[-90deg] before:bg-[length:100%] before:-ml-[1.125rem] before:absolute before:my-auto before:inset-y-0 dark:before:bg-chevron-white text-white/70">
                        <a href="">Analytics</a>
                    </li> -->
                </ul>
            </nav>
        </div>
        <div class="item-right">

        </div>
    </div>
</header>