<app-anagrafica-wrapper
  [caption]="outfitTitle"
  [subTitle]="subtitle"
  [tip]="'...'"
  [addButtonShow]="false"
  [showSpinner]="false"
  
  
>

<label *ngIf="!outfitId" class="target-user">Creator target
  <select class="form-select" [(ngModel)]="targetUserId">
    <option value="">Comportamento predefinito backend</option>
    <option *ngFor="let user of targetUsers" [value]="user.uid">{{user.displayName || user.email}} ({{user.role || 'creator'}})</option>
  </select>
</label>

<app-foto-outfit
[image]="imageUrl"
[tags]="tags"
(eventImageTags)="setTags($event)"
>

</app-foto-outfit>

<app-dynamic-form
[editData]="outfitData()"
[service]="'outfitForm'"
(submitFormEvent)="submitFormOutfit($event)"
(functionalInputFormEvent)="btnInputEvent($event)"

>

</app-dynamic-form>
</app-anagrafica-wrapper>
