.mi-container {
        &.menu-over {
            .menu-container {
                position: fixed;
                top: 65px; /* Altezza dell'header */
                left: 0;
                width: 100%;
                height: calc(100% - 65px); /* Altezza del viewport meno l'header */
                background-color: #fff;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                transform: translateX(-100%);
                transition: transform 0.3s ease;
                z-index: 1000;
              
                &.open {
                  transform: translateX(0);
                }
              }
              
          
        }
        &.menu-side {
            .ana-container{
               margin-left: 100px;
            }
          
        }
        &.menu-push {
            .ana-container{
               margin-left: 250px;
            }
           
        }
        .ana-container {
            // margin-left: 150px ;
        }
    .verticalMenucontainer {

        position: absolute;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 1001;
        box-sizing: border-box;
        border: 1px solid var(--border_color);

        // Nascondi il menu su dispositivi con schermo più piccolo di 1024px (tablet e telefoni)
        /* @media (max-width: 1024px) {
            top: 0;
            padding-left: 0;
            border: none;

            
            &.open {
                display: block;
                
            }

            display: none;
        } */
    }
}

::ng-deep.menu-open {
    .hamburger {

        background: var(--bianco)!important;
        color:var(--primary)!important;
        
    }
}