
<main class="mi-container">
    <ng-container >
        <app-header ></app-header>
    
    
       <!--  <app-static-menu *ngIf="idTipoUtente>0" (closeMainMenu)="closeMainMenu($event)"
            (emittendItemMenu)="mainMenuClick($event)" [isClose]="isClose">
        </app-static-menu> -->

        <div  id="horizontalMenucontainer" class="horizontalMenucontainer">

            <!-- <app-static-menu-functions *ngIf="showSubMenu" [currentMainMenuActive]="currentMainMenuActive"
                [subMenu]="subMenu" (emittendItemFunctionMenu)="closeMainMenu($event)"></app-static-menu-functions> -->

        </div>
    </ng-container>
    

    <div class="container no-padding ana-container" >
        
       
        
        <router-outlet></router-outlet>
            
        <app-modal-popup-wrapper></app-modal-popup-wrapper>
    </div>
    <!-- <app-popup-wrapper></app-popup-wrapper> -->




    <app-footer ></app-footer>

</main>