
<main class="mi-container">
    <ng-container >
        <app-header ></app-header>
    
        <div class="verticalMenucontainer sidebar">
            <app-menu></app-menu>
        </div>
        

        
    </ng-container>
    

    <div class="container no-padding ana-container" >
        
       
        
        <router-outlet></router-outlet>
            
        <app-modal-popup-wrapper></app-modal-popup-wrapper>
    </div>
    <!-- <app-popup-wrapper></app-popup-wrapper> -->




     <!-- <app-footer ></app-footer>-->

</main>