<nav class="menu-container" [class.open]="getIsMenuOpen()" aria-label="Navigazione principale">
  <ul class="menu-list">
    <li class="menu-item" *ngFor="let menuItem of allMenu">
      <a
        [routerLink]="['/', menuItem.path]"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="nav-link"
        [attr.aria-label]="menuItem.label"
        [attr.title]="menuItem.label"
        (click)="navigateTo(menuItem.path)"
      >
        <span [ngClass]="menuItem.icon" class="menu-icon" aria-hidden="true"></span>
        <span class="menu-label">{{ menuItem.label }}</span>
      </a>
    </li>
  </ul>
</nav>
