<div
  class="modal popup"
  role="dialog"
  tabindex="-1"
  [id]="infoPopup.id"
  [ngStyle]="{ display: isPanelVisible ? 'block' : 'none', 'z-index': zIndexModalDialog }"
  [ngClass]="[infoPopup.position === 'bottom' ? 'position-bottom' : '', infoPopup.class || '']"
>
  <div
    class="modal-dialog formEditPopup"
    [ngStyle]="{ 'max-width': popupWidth, width: popupWidth }"
  >
    <app-caption
      *ngIf="infoPopup.showCaptionHeader"
      [caption]="infoPopup.title || ''"
      [isClosable]="!!infoPopup.isClosablePopUp"
      [cssClass]="'modal'"
      [help]="''"
      (emitChiusura)="close()"
    ></app-caption>

    <div #containerComponent class="modal-content"></div>

    <app-caption
      *ngIf="infoPopup.showCaptionFooter"
      [isFooter]="true"
      (emitChiusura)="close()"
    ></app-caption>
  </div>
</div>
